@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas);

body {
    /*background: #be050b;*/
    margin: 0;
    max-height: 100%;
    width: 100%;
    overflow: hidden;

}

a {
    text-decoration: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}








